version: '3.8'
services:
  api_gateway:
    build:
      context: ./API_Gateway
    env_file:
      - ./API_Gateway/.env
      - services_urls
    x-develop:
      watch:
        - action: sync
          path: ./API_Gateway/main.py
          target: /app/main.py
        - action: rebuild
          path: ./API_Gateway/requirements.txt
    depends_on:
      - database
    ports:
      - "5000:80"

  database:
    image: postgres:15.3-alpine3.18
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: atlan
      POSTGRES_DB: database
    volumes:
      - ./Database_Data:/var/lib/postgresql/data

  db_handler:
    build:
      context: ./Database_Handler
    env_file:
      - services_urls
      - ./Database_Handler/.env
    x-develop:
      watch:
        - action: sync
          path: ./Database_Handler/main.py
          target: /app/main.py
        - action: rebuild
          path: ./Database_Handler/requirements.txt
    depends_on:
      - api_gateway

  form_validation:
    build:
      context: ./Form_Validation
    env_file:
      - ./Form_Validation/.env
      - services_urls
    x-develop:
      watch:
        - action: sync
          path: ./Form_Validation/main.py
          target: /app/main.py
        - action: rebuild
          path: ./Form_Validation/requirements.txt
    depends_on:
      - api_gateway

  search_slangs:
    build:
      context: ./Search_Slangs
    env_file:
      - ./Search_Slangs/.env
      - services_urls
    x-develop:
      watch:
        - action: sync
          path: ./Search_Slangs/main.py
          target: /app/main.py
        - action: rebuild
          path: ./Search_Slangs/requirements.txt
    depends_on:
      - api_gateway

  google_sheets:
    build:
      context: ./Google_Sheets
    env_file:
      - services_urls
      - ./Google_Sheets/.env
    x-develop:
      watch:
        - action: sync
          path: ./Google_Sheets/sheets.py
          target: /app/sheets.py
        - action: rebuild
          path: ./Google_Sheets/requirements.txt
    depends_on:
      - api_gateway

  sms_alert:
    build:
      context: ./SMS_Alert
    env_file:
      - ./SMS_Alert/.env
      - services_urls
    x-develop:
      watch:
        - action: sync
          path: ./SMS_Alert/main.py
          target: /app/main.py
        - action: rebuild
          path: ./SMS_Alert/requirements.txt
    depends_on:
      - api_gateway

  logger:
    build:
      context: ./Log_Service
    env_file:
      - ./Log_Service/.env
      - services_urls
    x-develop:
      watch:
        - action: sync
          path: ./Log_Service/logger.py
          target: /app/logger.py
        - action: rebuild
          path: ./Log_Service/requirements.txt
    volumes:
      - ./Log_Service/logs:/app/logs
    ports:
      - 5005:80
